<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helpinghands.foryou"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.helpinghands.foryou.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.helpinghands.foryou.showSyllabus"
            android:label="Syllabus"
            android:parentActivityName="com.helpinghands.foryou.subject_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helpinghands.foryou.subject_list" />
        </activity>
        <activity
            android:name="com.helpinghands.foryou.yearlist"
            android:label="@string/title_activity_yearlist">
        </activity>
        <activity
            android:name="com.helpinghands.foryou.subject_list"
            android:label="@string/title_activity_subject_list"
            android:parentActivityName="com.helpinghands.foryou.yearlist">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helpinghands.foryou.yearlist" />
        </activity>
        <activity
            android:name="com.helpinghands.foryou.developer"
            android:label="@string/title_activity_developer"
            android:parentActivityName="com.helpinghands.foryou.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helpinghands.foryou.MainActivity" />
        </activity>
    </application>

</manifest>
